input[type=color].FieldtypeColor, input[type=color]#Inputfield_defaultValue  {
	height:2em;
	padding:0;
}

.AdminThemeUikit input[type=color].FieldtypeColor, .AdminThemeUikit input[type=color]#Inputfield_defaultValue  {
	height:40px;
	width: 100% !important;
}